@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
body {
  margin: 0;
  font-family: 'Poppins';
  background-color: #FAFAFA;
  max-width: 1440px;
  width: auto;
}

* {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.current {
  color: #1692AD;
  font-weight: 600;
}

.current:hover {
  color: #1692AD;
  font-weight: bold;
}

header {
  background-color: white;
  height: 84px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 21px 0px;
}

header .logo {
  display: block;
  margin: auto;
}

header .logo img {
  width: 100px;
}

header .mobile-menu {
  width: 32px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  background: #25373B;
  overflow-x: hidden;
  opacity: .98;
  height: 100vh;
  -webkit-transition: .5s;
  transition: .5s;
}

nav .mobile-exit {
  height: 32px;
  -webkit-filter: invert(1);
          filter: invert(1);
  display: block;
  float: right;
  margin: 1.9em 1.5em;
  cursor: pointer;
}

nav ul {
  margin-top: 5em;
  margin-left: -1em;
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
  color: white;
  display: block;
  padding: .8em;
  text-align: right;
}

nav ul a:hover {
  color: grey;
  font-weight: 700;
}

main {
  height: 620px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .img {
  height: 620px;
  width: 100%;
}

main .mainbg {
  display: none;
}

main .container {
  position: absolute;
  top: 115px;
  text-align: center;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

main h1 {
  font-size: 36px;
  line-height: 46px;
  width: 100%;
  margin: 24.12px auto;
}

main p {
  letter-spacing: .15px;
  font-size: 16px;
  width: 305px;
  margin: auto;
}

main .truck-links {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  margin-top: 48px;
}

main .truck-links a {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 12px 89px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: .2px;
  font-weight: 500;
  font-size: 15px;
}

main .truck-links .register {
  color: white;
}

main .truck-links .book-truck {
  color: #25373B;
  background-color: white;
}

.services-stn {
  margin-top: 60px;
  margin-bottom: 56.16px;
}

.services-stn .container {
  text-align: center;
}

.services-stn .container .headings h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #202223;
}

.services-stn .container .headings p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #6D7175;
}

.services-stn .advantages {
  margin: 29px auto 56px;
}

.services-stn .advantages .items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em auto;
}

.services-stn .advantages .items .rectangle {
  display: block;
  width: 328px;
  height: 322px;
  margin: auto;
  background-color: #D1E1E1;
  border-radius: 20px;
}

.services-stn .advantages .items .blue-circle {
  display: block;
  width: 82px;
  height: 82px;
  margin: auto;
  position: absolute;
  top: 58px;
}

.services-stn .advantages .items .truck-img {
  display: block;
  width: 39.36px;
  height: 39.36px;
  margin: auto;
  position: absolute;
  top: 79.32px;
}

.services-stn .advantages .items h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #202223;
  position: absolute;
  top: 142px;
}

.services-stn .advantages .items p {
  width: 269px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #202223;
  position: absolute;
  top: 197px;
}

.services-stn .profits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
  gap: 32px;
}

.services-stn .profits img {
  display: block;
  width: 328px;
  height: 223.42px;
  margin: auto;
  border-radius: 10px;
}

.services-stn .profits .column {
  width: 323px;
  margin: auto;
  text-align: left;
}

.services-stn .profits .column h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #202223;
  margin: 32px auto 16px;
}

.services-stn .profits .column p {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  width: 323px;
}

.services-stn .profits .column a {
  display: block;
  text-decoration: none;
  color: #202223;
  border: 1px solid #202223;
  border-radius: 6px;
  padding: 12px 0px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.2px;
}

.services-stn .profits .column a:hover {
  color: #FFFFFF;
  background-color: #202223;
  font-weight: 600;
}

.services-stn .profits .column .book-one {
  color: white;
  background-color: #202223;
}

.services-stn .profits .column .book-one:hover {
  color: #202223;
  background-color: white;
  font-weight: 600;
}

.fleet-stn {
  margin-bottom: 87px;
}

.fleet-stn .container .headings {
  margin-bottom: 27px;
  text-align: center;
}

.fleet-stn .container .headings h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #202223;
}

.fleet-stn .container .headings p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #6D7175;
}

.fleet-stn .garage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  position: relative;
}

.fleet-stn .garage .vehicles {
  position: relative;
}

.fleet-stn .garage .vehicles img {
  width: 326.8px;
  height: 229px;
  display: block;
  margin: auto;
}

.fleet-stn .garage .vehicles p {
  width: 198px;
  height: 43px;
  background: rgba(22, 146, 173, 0.56);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0 7px 25px;
  position: absolute;
  top: 170px;
  right: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}

.testimonials-stn {
  margin-bottom: 66.84px;
}

.testimonials-stn .container .headings {
  text-align: center;
}

.testimonials-stn .container .headings h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #202223;
}

.testimonials-stn .container .headings p {
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #6D7175;
}

.testimonials-stn .testimonies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
  margin: auto;
}

.testimonials-stn .testimonies .testimony {
  margin: 14px;
  position: relative;
}

.testimonials-stn .testimonies .testimony img {
  width: 320px;
  height: 151px;
  background-color: #D1E1E1;
  border-radius: 20px;
}

.testimonials-stn .testimonies .testimony div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
}

.testimonials-stn .testimonies .testimony div img {
  width: 40px;
  height: 40px;
  float: left;
  display: block;
  position: absolute;
  top: 22px;
  left: 16px;
}

.testimonials-stn .testimonies .testimony div blockquote {
  position: absolute;
  left: 32px;
  width: 243px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #202223;
}

.testimonials-stn .testimonies .testimony cite {
  position: absolute;
  top: 108px;
  right: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 13px;
  font-style: normal;
  line-height: 26px;
  text-align: right;
  letter-spacing: 0.15px;
  color: #202223;
}

.info-stn .container .know-more {
  background: url(bluebg.png);
  height: 344px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-stn .container .know-more h2 {
  width: 268px;
  margin: 56px auto 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

.info-stn .container .know-more p {
  width: 192px;
  margin-bottom: 32px;
}

.info-stn .container .know-more form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.info-stn .container .know-more form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 324px;
  padding: 12px;
  font-family: 'Poppins';
  border: 1px solid #BAC7D5;
  border-radius: 3px;
}

.info-stn .container .know-more form a {
  position: absolute;
  right: 5px;
  width: 59px;
  height: 34px;
}

.info-stn .container .imagery {
  display: block;
  margin: auto;
  width: auto;
  height: 368px;
  background: url(happy.png);
  background-size: cover;
}

footer {
  background-color: #f5f5f5;
  padding: 1em 0 0px;
}

footer .container {
  margin: 24px;
}

footer .container img {
  display: block;
}

footer .links {
  margin: 0;
  width: 375px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 66px;
          column-gap: 66px;
}

footer .links ul {
  list-style-type: none;
  margin-left: -40px;
}

footer .links ul h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.15px;
  color: #25373B;
  margin: 8px 0px;
}

footer .links ul li {
  margin: 8px 0px;
}

footer .links ul a {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #25373B;
  text-decoration: none;
}

footer p {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.4px;
  width: 337px;
  margin: 17px auto;
  color: #25373B;
}

footer .copyright {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #60A5FA;
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .mobile-exit, .mobile-menu {
    display: none;
  }
  header {
    height: 90px;
  }
  header .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 90px auto;
        grid-template-columns: 90px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  header .logo img {
    width: 143px;
    height: 25.62px;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    margin-top: -5.5em;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header ul a {
    color: #202223;
  }
  header .pry-nav li {
    margin: 0px 10px 0 0;
  }
  header .sec-nav li {
    margin: 0px 12px 0 0;
  }
  header .login-btn {
    border: 1px solid #25373B;
    border-radius: 4px;
    padding: 12px 20px;
  }
  header .acct-btn {
    border: 1px solid #25373B;
    border-radius: 4px;
    background: #25373B;
    color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 12px 20px;
  }
  main .mobilebg {
    display: none;
  }
  main .mainbg {
    display: block;
  }
  main .container h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 67px;
    text-align: center;
    letter-spacing: 1.5px;
    width: 664px;
  }
  main .container p {
    width: 533px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    margin-bottom: 3em;
  }
  main .truck-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .services-stn {
    margin-bottom: 0px;
  }
  .services-stn .container {
    margin: 0 32px;
  }
  .services-stn .container .headings h2 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
  }
  .services-stn .container .headings p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .15px;
  }
  .services-stn .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: auto;
    margin: 29px auto 129px;
  }
  .services-stn .advantages .items {
    margin: 0 6px 1em;
  }
  .services-stn .advantages .items .rectangle {
    width: 412px;
    height: 344px;
  }
  .services-stn .advantages .items h4 {
    font-size: 24px;
  }
  .services-stn .advantages .items p {
    font-size: 16px;
    line-height: 26px;
  }
  .services-stn .profits {
    max-width: 1440px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    row-gap: 120px;
    overflow: auto;
  }
  .services-stn .profits .reliable, .services-stn .profits .earning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services-stn .profits .reliable img, .services-stn .profits .earning img {
    width: 552px;
    height: 376px;
    border-radius: 0px;
    display: block;
    margin: 0 0 0 5em;
  }
  .services-stn .profits .column {
    width: 553px;
    margin: auto 0;
  }
  .services-stn .profits .column h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -.5px;
    margin: 0px;
    width: 400px;
  }
  .services-stn .profits .column p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.15px;
    width: 553px;
  }
  .services-stn .profits .column a {
    width: 301px;
  }
  .services-stn .profits .earning {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 0em 1em 0;
  }
  .services-stn .profits .earning img {
    margin: 0 5em 0 0;
  }
  .fleet-stn {
    margin-top: 100px;
  }
  .fleet-stn .container .headings h2 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
  }
  .fleet-stn .container .headings p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .15px;
  }
  .fleet-stn .garage {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto 32px;
    overflow: auto;
    padding-bottom: 1em;
  }
  .fleet-stn .garage .vehicles img {
    width: 411px;
    height: 288px;
  }
  .fleet-stn .garage .vehicles p {
    width: 275px;
    height: 60px;
    padding: 15px 25px;
    font-size: 20px;
    line-height: 28px;
    top: 208px;
  }
  .testimonials-stn .container {
    margin: 32px;
  }
  .testimonials-stn .container .headings h2 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
  }
  .testimonials-stn .container .headings p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .15px;
  }
  .testimonials-stn .testimonies {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 40px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -webkit-column-gap: -50px;
            column-gap: -50px;
    margin: 2em auto;
  }
  .testimonials-stn .testimonies .testimony {
    margin: 0px;
    position: relative;
  }
  .testimonials-stn .testimonies .testimony img {
    width: 553px;
    height: 211px;
    display: block;
    margin: 0;
  }
  .testimonials-stn .testimonies .testimony div {
    top: 31px;
  }
  .testimonials-stn .testimonies .testimony div img {
    width: 56px;
    height: 56px;
    left: 39px;
  }
  .testimonials-stn .testimonies .testimony div blockquote {
    width: 396px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    left: 84px;
  }
  .testimonials-stn .testimonies .testimony cite {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
    letter-spacing: 0.15px;
    top: 154px;
    right: 47px;
  }
  .info-stn {
    width: 100%;
    height: 510px;
  }
  .info-stn .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 510px;
  }
  .info-stn .container .know-more {
    width: 50%;
    height: 510px;
    margin: 0;
    background-repeat: round;
    text-align: left;
  }
  .info-stn .container .know-more h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -0.5px;
    width: 503px;
    margin-top: 126px;
  }
  .info-stn .container .know-more p {
    text-align: left;
    width: 503px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.15px;
  }
  .info-stn .container .know-more form input {
    width: 503px;
  }
  .info-stn .container .imagery {
    width: 50%;
    height: 510px;
    margin: 0;
  }
  footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    margin: 0;
    margin-left: 75px;
    margin-top: 50px;
  }
  footer .container img {
    width: 212px;
    height: 38px;
  }
  footer .container .links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    gap: 88px;
  }
  footer .container .links ul {
    width: 105px;
  }
  footer p {
    width: 640px;
  }
  footer .copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=main.css.map */