@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
body {
  margin: 0;
  font-family: "Poppins";
  background-color: #FAFAFA;
  max-width: 1440px;
  width: auto;
}

* {
  transition: 0.3s;
}

.banner {
  display: none;
}

.mobile-logo {
  width: 100px;
  height: 20.45px;
  display: block;
  margin: 80px auto 0px;
}

header {
  background-color: white;
  height: 84px;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 25px 21px 0px;
}
header .logo {
  display: block;
}
header .logo img {
  width: 100px;
}

.create-stn .container {
  display: grid;
  grid-template-columns: auto;
}
.create-stn h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #202223;
  margin-left: 24px;
}
.create-stn p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #6D7175;
  width: 327px;
  margin: 1px auto 32px;
}
.create-stn .main-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.create-stn .main-links a {
  width: 45%;
  max-width: 1440px;
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  border: 1px solid #25373B;
  box-sizing: border-box;
  padding: 17px 35px;
  text-align: center;
  position: relative;
}
.create-stn .main-links a img {
  display: block;
  position: absolute;
  top: 15px;
  left: 20px;
}
.create-stn .main-links .cargo-owner {
  color: #25373B;
  background-color: #FFFFFF;
  border: 1px solid #D1E1E1;
  border-right: 0px;
  border-radius: 6px 0 0 6px;
}
.create-stn .main-links .cargo-owner img {
  width: 18px;
}
.create-stn .main-links .truck-driver {
  color: #FFFFFF;
  background-color: #25373B;
  border: 1px solid #D1E1E1;
  border-radius: 0 6px 6px 0;
}
.create-stn .main-links .truck-driver img {
  filter: invert(1);
  filter: brightness(10);
}
.create-stn .steps {
  margin: 3em 24px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1px;
}
.create-stn .steps .stepping {
  height: 3px;
  margin: 0px;
}
.create-stn .steps .stepping img {
  display: block;
  margin: auto;
  margin-top: -10px;
  width: 25px;
}
.create-stn .steps .stepping p {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.create-stn .steps .blueline {
  background-color: #1692AD;
}
.create-stn .steps .greyline {
  background-color: #D1E1E1;
}
.create-stn form {
  margin: 8px 0px 83px;
}
.create-stn form label {
  margin: 24px;
  display: block;
}
.create-stn form legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #202223;
  margin: 6px 0px;
}
.create-stn form input {
  width: 100%;
  max-width: 1440px;
  border: 1px solid #D1E1E1;
  background-color: white;
  border-radius: 4px;
  padding: 10px 12px;
  box-sizing: border-box;
  font-family: "Poppins";
}
.create-stn form input[type=checkbox] {
  width: 1em;
  background-color: #1692AD;
}
.create-stn form input[type=submit] {
  color: #FFFFFF;
  background-color: #25373B;
}
.create-stn form .checkbox {
  text-decoration: none;
  color: #1692AD;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}
.create-stn form .already {
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.2px;
}
.create-stn form .already a {
  color: #1692AD;
  text-decoration: none;
}